@media screen and (max-width:768px){
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #fef9f8;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .container{
        margin-top: 70px;
    }
    .ibox .lefti .intro .ibtn{
        margin-left: 35%;
    }
    .ibox .lefti .sml{
        margin-left: 220px;
    }
    .righti{
        margin-left: 50px;
    }
    .ibox .righti{
        margin-left: -5%;
    }
    .lefti .intro{
        margin-top: 40px;
    }
    .procontent h2{
        margin-left: 45px;
    }
    .procontent .prolist{
        display: flex;
        flex-direction: column;
    }
    .prolink{
        margin-bottom: 50px;
    }
    .crec img{
        width: 50px;
        border-radius: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.5);
    }
    .crec .proh{
        font-weight: bold;
        font-size: 14px;
    }
    .crec h5{
        font-size: 12px;
    }
    .crec p{
        font-size: 11px;
    }
    .prolink div a{
        display: flex;
        margin-left: 30px;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .crec a ion-icon{
        font-size: 20px;
        margin: -3px 5px auto 5px;
    }
    .prolink div:hover{
        box-shadow: 0px 5px 55px rgba(0, 0, 0, 100);
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinksFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@media screen and (max-width:831px){
    .container{
        margin-top: 70px;
        margin-left: 0px;
    }
    .ibox{
        display: flex;
        flex-direction: column-reverse;
    }
    .ibox .lefti .intro{
        margin-top: -20px;
    }
    .ibox .lefti .intro{
        margin-left: -10px;
    }
    .lefti .ibtn{
        margin-left: 270px;
    }
    .ibox .righti{
        margin-left: 7%;
    }
    .ibox .righti img{
        margin-left: 18%;
    }
    .sml{
        margin-left: 38%;
    }
}
@media screen and (max-width:893px){
    .container{
        margin-top: 70px;
    }
    .ibox{
        display: flex;
        flex-direction: column-reverse;
    }
    .ibox .lefti{
        width: 100%;
        margin-top: -75px;
        text-align: center;
    }
    .ibox .righti img{
        margin-left: 38%;
        width: 500px;
        height: 600px;
    }
    .ibox .righti{
        width: 100%;
        margin-left: 5%;
    }
    .ibox .lefti .intro .ibtn{
        margin-left: 42%;
        margin-top: 30px;
    }
    .sml{
        margin-left: 40%;
    }
}
@media screen and (max-width: 947px) {
    .lefti{
        width: 35%;
    }
    img{
        margin-left: -80px;
    }
    .righti img{
        width: 356px;
        height: 447px;
    }
    .intro{
        margin-top: -60px;
    }
    .name, .profession{
        font-size: 20px;
    }
    .ibtn{
        width: 125px;
    }
    .isci li{
        font-size: 20px;
    }
}
@media (max-width:991px){
    .contactUs{
        padding: 20px;
        margin-top: 65px;
    }
    .box{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .map{
        min-height: 300px;
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox{
        width: 100%;
    }
    .contact{
        padding: 30px;
    }
    .map{
        min-height: 300px;
        padding: 0;
    }
}
@media screen and (max-width: 1010px){
    .container{
        margin-top: 9em;
    }
    .intro {
        margin-top: -25px;
    }
    .righti{
        margin-left: 15px;
    }
    .ibox .righti img{
        margin-left: 170px;
        width: 400px;
        height: 500px;
    }
    .isci{
        margin-top: 50px;
    }
}
@media screen and (max-width:1024px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}
@media screen and (max-width: 1100px) {
    .ibox .righti{
        margin-left: -100px;
    }
}
@media screen and (max-width: 1170px) {
    .righti{
        margin-left: -50px;
    }
    .ibox .righti img{
        width: 450px;
        height: 560px;
    }
}
@media screen and (max-width: 1340px) {
    .ibox .righti img{
        width: 400px;
        height: 500px;
    }
}
@media screen and (max-width:540px){
    .ibox .righti img{
        margin-left: 38%;
        width: 300px;
        height: 370px;
    }
    .ibox .lefti .intro .ibtn, .ibox .lefti .sml{
        margin-left: 35%;
    }
}
@media screen and (max-width:412px){
    .ibox .righti img{
        width: 300px;
        height: 390px;
        margin-left: 33%;
    }
    .lefti{
        width: 100%;
    }
    .ibox .lefti .intro .ibtn{
        margin-left: 30%;
    }
    .ibox .lefti .sml{
        margin-left: 26%;
    }
}
@media screen and (max-width:281px){
    
    .name, .profession{
        font-size: 19px;
    }
    .ibox .lefti .intro .ibtn{
        margin-left: 18%;
    }
    .ibox .lefti .sml{
        margin-left: 12%;
    }
}
@media screen and (max-width:360px){
    .ibox .righti img{
        width: 230px;
        height: 290px;
        margin-left: 29%;
    }
    .ibox .lefti .intro .ibtn {
        margin-left: 25%;
    }
    .ibox .lefti .sml {
        margin-left: 20%;
    }
}