*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    overflow: auto;
    background: linear-gradient(90deg, #8ce482 0%, #8ce482 30%, #03a9f5 30%, #03a9f5 100%);
}
.container{
    margin-top: 10%;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(19, 150, 124);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.5);
}
.logo{
    color: rgb(22, 90, 145);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(22, 90, 145);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(22, 90, 145);
    margin: 5px;
    transition: all 0.3s ease;
}


.toggle .line1{
    transform: rotate(45deg) translate(5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(-45deg) translate(5px, -6px);
}
.ibox{
    display: flex;
}
.intro{
    margin-bottom: 25px;
}
.lefti, .righti{
    width: 45%;
}
.lefti{
    padding: 150px 0px;
}
.ibox p{
    color: #012739;
    margin-bottom: 10px;
}
.name, .profession{
    color: #d91b57;
    font-size: 22px;
    font-weight: bolder;
    font-family: cursive;
}

.lefti a{
    text-decoration: none;
    margin-left: 0%;
    margin-top: 30px;
}
.ibox .righti img{
    width: 450px;
    margin-left: 30%;
}
.ibtn{
    margin-top: 25px;
    width: 130px;
    height: 50px;
    border-radius: 12px;
    background-color: #ff578b;
    text-align: center;
    padding: 12px 5px;
    box-shadow: 3px 3px #eea5bc;
    color: white;
    cursor: pointer;
}
.ibtn:hover{
    color: #ef1c5f;
    background-color: #e9acbe;
    box-shadow: 3px 3px #ef8bab;
}
.isci{
    display: flex;
    margin-top: 50px;
}
.isci li{
    list-style: none;
    margin-right: 15px;
    font-size: x-large;
}
.isci li a{
    color: #ef1c5f;
    font-size: 1.5em;
}
.isci li a:hover{
    color: #ed6991;
}
.contactUs{
    position: relative;
    width: 100%;
    padding: 100px;
    padding-bottom: 20px;
}

.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;
}
.contact{
    padding: 40px;
    background: #fff;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.15);
}
.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
}

.contact h3{
    color: rgb(231, 101, 101);
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap: 20px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    color: rgb(231, 101, 101);
    margin: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #333;
}
.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type="submit"]{
    background: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.inputBox ::placeholder{
    color: #999;
}
.info{
    background: #8ce482;
}
.info h3{
    color: #ff578b;
}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: rgb(231, 101, 101);
    background: #b3f2ac;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p{
    color: rgb(158, 21, 218);
    font-size: 1.1em;
}
.info .infoBox div a{
    color: rgb(158, 21, 218);
    text-decoration: none;
    font-size: 1.1em;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    color: rgb(231, 101, 101);
    font-size: 2em;
}
.sci li a:hover{
    color: #fff;
}
.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
}
.procontent{
    position: relative;
    width: 100%;
    padding: 100px;
    padding-bottom: 20px;
    text-align: center;
}
.procontent h2{
    margin-left: 42%;
    color: #0a4a67;
    width: 200px;
    background-color: rgb(19, 150, 124);
    border-radius: 5px;
    box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.5);
}
.procontent .prolist{
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.prolink div{
    width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
}
.prolink div:hover{
    box-shadow: 0px 5px 55px rgba(0, 0, 0, 100);
}
.crec img{
    width: 100px;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.5);
}
.crec .proh{
    font-weight: bolder;
}
.prolink div a{
    display: flex;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 25px;
    font-size: 15px;
    text-decoration: none;
    color: #0a4a67;
}
.crec a ion-icon{
    font-size: 25px;
    margin: -3px 5px auto 5px;
}
.prolink .crec hr{
    margin: 10px 0px 10px 0px;
}
.crec h5{
    margin-bottom: 10px;
}
@media screen and (max-width:768px){
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(19, 150, 124);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .container{
        margin-top: 70px;
    }
    .lefti .ibtn{
        margin-left: 35%;
    }
    .sml{
        margin-left: 220px;
    }
    .righti{
        margin-left: 50px;
    }
    .intro{
        margin-top: 40px;
    }
    .procontent h2{
        margin-left: 45px;
    }
    .procontent .prolist{
        display: flex;
        flex-direction: column;
    }
    .prolink{
        margin-bottom: 50px;
    }
    .crec img{
        width: 50px;
        border-radius: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.5);
    }
    .crec .proh{
        font-weight: bold;
        font-size: 14px;
    }
    .crec h5{
        font-size: 12px;
    }
    .crec p{
        font-size: 11px;
    }
    .prolink div a{
        display: flex;
        margin-left: 30px;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .crec a ion-icon{
        font-size: 20px;
        margin: -3px 5px auto 5px;
    }
    .prolink div:hover{
        box-shadow: 0px 5px 55px rgba(0, 0, 0, 100);
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinksFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@media screen and (max-width:831px){
    .container{
        margin-top: 70px;
        margin-left: 0px;
    }
    .ibox{
        display: flex;
        flex-direction: column-reverse;
    }
    .lefti, .righti{
        margin-bottom: 50px;
    }
    .lefti{
        padding: 15px;
    }
    .intro{
        margin-top: 35px;
        margin-left: -50px;
    }
    .lefti p{
        text-align: center;
    }
    .lefti .ibtn{
        margin-left: 40%;
    }
    .sml{
        margin-left: 35%;
    }
    .righti{
        margin-left: 7%;
    }
    .righti img{
        width: 380px;
        height: 430px;
    }
}
@media screen and (max-width:893px){
    .container{
        margin-top: 70px;
    }
    .ibox{
        display: flex;
        flex-direction: column-reverse;
    }
    .lefti, .righti{
        width: 100%;
    }
    .righti{
        margin-left: 6em;
        margin-right: auto;
    }
    .righti img{
        width: 360px;
        height: 410px;
    }
    .lefti{
        margin-top: -75px;
        text-align: center;
    }
    .intro .ibtn{
        margin-left: 42%;
        margin-top: 30px;
    }
    .sml{
        margin-left: 40%;
    }
}
@media screen and (max-width: 947px) {
    .righti img{
        width: 356px;
        height: 447px;
    }
    .intro{
        margin-top: -60px;
    }
    .name, .profession{
        font-size: 20px;
    }
    .ibtn{
        width: 125px;
    }
    .isci li{
        font-size: 20px;
    }
}
@media (max-width:991px){
    body{
        background: linear-gradient(90deg, #8ce482 0%, #8ce482 30%, #03a9f5 30%, #03a9f5 100%);
        overflow: scroll;
    }
    .contactUs{
        padding: 20px;
        margin-top: 65px;
    }
    .box{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .map{
        min-height: 300px;
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox{
        width: 100%;
    }
    .contact{
        padding: 30px;
    }
    .map{
        min-height: 300px;
        padding: 0;
    }
}
@media screen and (max-width: 1010px){
    .container{
        margin-top: 9em;
    }
    .intro {
        margin-top: -25px;
    }
    .ibox .righti img{
        width: 400px;
        height: 500px;
        margin-left: -25px;
    }
    .isci{
        margin-top: 50px;
    }
}
@media screen and (max-width:1024px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}
@media screen and (max-width: 1100px) {
    .ibox .righti img{
        margin-left: -5px;
    }
}
@media screen and (max-width: 1170px) {
    .ibox .righti img{
        width: 450px;
        height: 560px;
        margin-left: 85px;
    }
}
@media screen and (max-width: 1340px) {
    .ibox .righti img{
        width: 400px;
        height: 500px;
    }
}